@import url('https://fonts.googleapis.com/css2?family=Barlow+Semi+Condensed:wght@200;400;500;600;700&display=swap');
*{
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
}
body{
    background: #edf2f8;
    font-family: 'Barlow Semi Condensed', sans-serif;
    line-height: 1.7;
    font-size: 13px;
}
.testimonial{
    max-width: 1440px;
    margin: 100px auto;
    padding: 20px;
    display: grid;
    grid-template-columns: repeat(4,1fr);
    grid-template-rows: repeat(2,1fr);
    gap: 1rem;
    
}
.card{
    background: white;
    border-radius: 10px;
    padding: 30px;
    box-shadow: rgba(17,12,46,0.5) 0px 48px 100px 0px;
    margin-bottom: 10px;
}
.card-header{
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}
.card-header h3{
    font-size: 15px;
}
.card-header p{
    opacity: 0.5;
}
.card-header img{
    width: 40px;
    height: 40px;
    border-radius: 50%;
    border: 2px solid #996ed9;
    margin-right: 10px;
}
.card-lead{
    font-size: 1.5rem;
    font-weight: 500;
    line-height: 1.3;
    margin-bottom: 20px;
}
.card-quote {
    font-size: 15px;
    font-weight: 500;
    line-height: 1.4;
    opacity: 0.7;
}
.card-bg-purple{
    background:hsl(263,55%,52%);
    color: white;
    background-image: url(/images/bg-pattern-quotation.svg);
    background-repeat: no-repeat;
    background-position: top 10px right 90px;
    grid-column: 1/3;
}
.card-bg-grayblue {
    background: hsl(217, 19%, 35%);
    color: white;
    grid-column: 3/4;
}
.card-bg-darkblue {
    background: hsl(219, 14%, 29%);
    color: white;
    grid-column: 2/4;
}
.card:nth-of-type(3)
{
    grid-column: 4/5;
    grid-row: 1/3;
}
footer{
    text-align: center;
}
@media(max-width: 768px)
{
    .testimonial{
        grid-template-columns: 1fr;
        width: 100%;
    }
    .card:nth-of-type(3) {
        grid-column: 1;
        grid-row: 5;
    }
    .card:nth-of-type(4) {
        grid-column: 1;
        grid-row: 3;
    }
    .card-bg-purple {
        grid-column: 1;
    }
    
    .card-bg-grayblue {
       grid-column: 1;
       grid-row: 2;
    }
    
    .card-bg-darkblue {
        grid-column: 1;
        grid-row: 4;
    }
}
